<a href="https://colab.research.google.com/github/christopher3996/python_courses/blob/main/03_Listen_und_Tabellen.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Einführung in die Python Programmierung
*HWR Berlin, Christopher Gerling*

#3. Listen und Tabellen

### Aufgabe 3.1.

Schreiben Sie ein Python-Programm zur Erstellung einer Liste $a$ mit 3 beliebigen ganzzahligen Werten. Geben Sie die gesamte Liste mit print aus.

### Aufgabe 3.2.

Initialisieren Sie folgende Liste:

```
numList = (4,2,5,7,7,4,3,2,32,4,9,7,6,32,1,1,5,5247,8538,3826,3)
```

* Geben Sie das letzte Element aus, ohne vorher (manuell) zu zählen, wie lang die Liste ist.
* Geben Sie die Länge der Liste aus.
* Berechnen Sie das arithmetische Mittel (einfacher Durchschnitt) der Liste.
* Geben Sie die Liste in umgekehrter Reihenfolge aus.

In [ ]:
# initialize list
numList = (4,2,5,7,7,4,3,2,32,4,9,7,6,32,1,1,5,5247,8538,3826,3)

In [ ]:
# last element

In [ ]:
# length

In [ ]:
# arithmetic mean

In [ ]:
# reverse list

### Aufgabe 3.3.

Verbinden sie die beiden Listen

```
l1 = ["Me", "is", "Na", "Ali"]
l2 = ["in","me","t","ce"]
```

zu einer dritten Liste $l3$, sodass diese den folgenden Inhalt umfasst:

> ['Mein', 'Name', 'ist', 'Alice']

Geben Sie $l3$ anschließend aus.

Hinweis: Sie müssen hierzu mittels Indexierung auf die einzelnen Bestandteile zugreifen und diese jeweils Verketten.

['Mein', 'Name', 'ist', 'Alice']

### Aufgabe 3.4.

Erstellen Sie zunächst eine leere Liste $kunden$.

1. Fügen Sie die folgenden Kunden hinzu: "Harry", "Hermine", "Ron", "Fred" und "George".
2. Sortieren Sie die Liste und überprüfen Sie die Ausgabe.
3. Entfernen Sie "Fred" aus der Liste und überprüfen Sie erneut.
4. Welchen Index hat "Harry" nun in der Liste?
5. Sie planen eine Werbeaktion und wollen die ersten zwei Kunden in der Liste kontaktieren. Wer sind diese?
6. Welcher Kunde steht am Ende der alphabetisch sortierten Liste?
7. Löschen Sie die Liste kunden.

In [ ]:
#1

In [ ]:
#2

In [ ]:
#3

In [ ]:
#4

In [ ]:
#5

In [ ]:
#6

In [ ]:
#7

### Aufgabe 3.5.

Sie arbeiten in einer Bank und werden täglich mit Transaktionsdaten konfrontiert. Die Daten für jede Transaktion – bestehend aus Sender, Empfänger, Betrag und Währung – werden in Listen gespeichert. Mehrere dieser Transaktionen werden in einer übergeordneten Liste gespeichert, wodurch Sie eine Tabelle erhalten.
Betrachten Sie folgende Transaktionen:

Sender | Empfänger | Betrag | Währung
--|--|--|--
Alice | Bob | 100.00 | EUR
Hermine | Harry | 33.32 | KNT
Alice | Ron | 9.99 | USD
Fred | Bob | 18.36 | EUR

Die einzelnen Transaktionen sind als Tupel zu repräsentieren. Die gesamte Historie als Liste.

1.   Erstellen Sie basierend auf den obigen Transaktionsdaten eine Liste $tx$, bei der jede Transaktion als eigene Liste innerhalb von $tx$ gespeichert wird.
2.   Harry entschließt sich, Bob 50.00 USD zu überweisen. Fügen Sie diese neue Transaktion am Ende der $tx$-Liste hinzu.
3.   Es stellt sich heraus, dass Harrys Konto nicht ausreichend gedeckt war und die Bank die letzte Transaktion stornieren muss. Entfernen Sie die zuletzt hinzugefügte Transaktion aus der $tx$-Liste.

In [ ]:
#1

In [ ]:
#2

In [ ]:
#3

---
## Bonusaufgabe: Einführung in Pandas DataFrames

(für die Profis)


**Pandas** ist eine leistungsstarke und weit verbreitete Bibliothek für Datenanalyse in Python. Mit ihr können Sie Tabellen (genannt DataFrames) erstellen und manipulieren, ähnlich wie in Excel oder SQL. Die Bibliothek ist besonders nützlich, wenn Sie mit großen Datenmengen arbeiten.



Ein **DataFrame** in Pandas ist wie eine Tabelle mit Zeilen und Spalten. Die Spalten haben Namen und die Zeilen haben Indizes. Ein einfacher DataFrame wird so erzeugt:

```python
import pandas as pd # import der Bibliothek

# Erstellen eines DataFrames aus einer List-of-Lists
data = [
    ['Alice', 'Bob', 100.00, 'EUR'],
    ['Hermine', 'Harry', 33.32, 'KNT'],
    ['Alice', 'Ron', 9.99, 'USD'],
    ['Fred', 'Bob', 18.36, 'EUR']
]

df = pd.DataFrame(data, columns=['Sender', 'Empfänger', 'Betrag', 'Währung'])

print(df)
```

---

### Zugriff auf Daten im DataFrame

**Zugriff auf Spalten:** Um auf eine Spalte zuzugreifen, können Sie den Spaltennamen wie folgt verwenden:

```python
print(df['Sender'])
```

**Zugriff auf Zeilen:** Sie können auf bestimmte Zeilen mit `iloc` zugreifen:

```python
# Zugriff auf die zweite Zeile
print(df.iloc[1])
```

**Auswahl basierend auf Bedingungen:** Vielleicht möchten Sie alle Transaktionen sehen, bei denen Alice der Sender ist:

```python
alice_transaktionen = df[df['Sender'] == 'Alice']
print(alice_transaktionen)
```

### Einfache Operationen

**Mittelwert einer Spalte:** Möchten Sie den Durchschnittsbetrag aller Transaktionen wissen?

```python
mittelwert = df['Betrag'].mean()
print(mittelwert)
```

**Einzigartige Werte:** Welche verschiedenen Währungen gibt es in den Transaktionen?

```python
währungen = df['Währung'].unique()
print(währungen)
```

**Sortieren der Daten:** Sie können die Daten nach einer bestimmten Spalte sortieren:

```python
# Sortieren nach Betrag, von niedrig zu hoch
df_sorted = df.sort_values(by='Betrag')
print(df_sorted)

# Sortieren nach Betrag, von hoch zu niedrig
df_sorted_desc = df.sort_values(by='Betrag', ascending=False)
print(df_sorted_desc)
```

#### Übungsaufgaben:

1. **Erstellen Sie einen neuen DataFrame** mit Transaktionen, die nur in EUR sind.
2. **Finden Sie den höchsten und niedrigsten Betrag** in den Transaktionen.
3. **Zählen Sie, wie viele Transaktionen** für jede Währung vorhanden sind.
4. **Erstellen Sie eine neue Spalte "Transaktionstyp"** und setzen Sie für alle Transaktionen mit einem Betrag über 50 den Wert "Groß" und für alle anderen den Wert "Klein".