<a href="https://colab.research.google.com/github/christopher3996/python_courses/blob/main/0_04_Listen_und_Tupel.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**# Session 4**
## Einführung in die Programmierung 
*Bank Kurse an der HWR Berlin*

#4. Listen und Tupel

## 4.1. Tupel

### Aufgabe 4.1.1.

Erstellen Sie ein Tupels $a$ mit 3 beliebigen ganzzahligen Werten. Geben Sie das gesamte Tupel mit *print* aus.

### Aufgabe 4.1.2.

Erstellen Sie ein Tupel $b$ mit 5 Werten, darunter ein Integer, ein String, ein Float, ein Boolean und ein weiteres Tupel. Geben Sie $b$ aus.

### Aufgabe 4.1.3.

Betrachten Sie das Tupel $b$ aus Aufgabe 4.1.2.: Indexieren Sie das Tupel so, dass der String ausgegeben wird.

### Aufgabe 4.1.4.

Schreiben Sie ein Python Programm, welches das 3-elementige Tupel $a$ auf Aufgabe 4.1.1. auftrennt und in die Variablen $z0, z1, z2$ speichert. Geben Sie $z2$ aus. (Tipp: Googeln Sie nach "Python Tupel entpacken")

### Aufgabe 4.1.5.

Sie haben eine Tabelle mit Kundentransaktionen (z.B. Banküberweisungen):

Sender | Empfänger | Betrag | Währung
--|--|--|--
Bob | Alice | 119.95 | EUR
... | ... | ... | ...

Eine einzelne Transaktion wird als Tupel dargestellt:

```
("Bob", "Alice", 119.95, "EUR")
```

Initialisieren Sie das Tupel $transaction$ für das angegebene Beispiel. Erstellen Sie anschließend eine Ausgabe für das Tupel (mittels Indexierung), die folgende Ausgabe produziert:

>Zum Beispiel:<br>
>Bob sendet Alice einen Betrag von 119.95 EUR.
>
>

Bob sendet Alice einen Betrag von 119.95 EUR

### Aufgabe 4.1.6.

Initialisieren Sie folgendes Tupel:

```
anotherTuple = (4,2,5,7,7,4,3,2,32,4,9,7,6,32,1,1,5,5247,8538,3826,3)
```

*  Geben Sie das letzte Element aus, ohne vorher (manuell) zu zählen, wie lang das Tupel ist.
*  Geben Sie die Länge des Tupels aus.
*  Berechnen Sie das arithmetische Mittel (einfacher Durchschnitt) des Tupels.
* Geben Sie das Tupel in umgekehrter Reihenfolge mittels Indexierung aus. Hinweis: Google kann helfen.

In [ ]:
# initialize tuple
anotherTuple = (4,2,5,7,7,4,3,2,32,4,9,7,6,32,1,1,5,5247,8538,3826,3)

In [ ]:
# last element

In [ ]:
# length

In [ ]:
# arithmetic mean

In [ ]:
# reverse tuple

## 4.2. Listen

### Aufgabe 4.2.1.

Schreiben Sie ein Python Programm zur Erstellung einer Liste $u$ mit 3 beliebigen ganzzahligen Werten. Geben Sie die gesamte Liste mit *print* aus.

### Aufgabe 4.2.2.

Verbinden sie die beiden Listen

```
l1 = ["Me", "is", "Na", "Ali"]
l2 = ["in","me","t","ce"]
```

zu einer dritten Liste $l3$, sodass diese den folgenden Inhalt umfasst:

> ['Mein', 'Name', 'ist', 'Alice']

Geben Sie $l3$ anschließend aus.

Hinweis: Sie müssen hierzu mittels Indexierung auf die einzelnen Bestandteile zugreifen und diese jeweils Verketten.

['Mein', 'Name', 'ist', 'Alice']

### Aufgabe 4.2.3.

Erstellen Sie zunächst eine leere Liste $kunden$. 


1.   Fügen Sie den Kunden "Potter, Harry" hinzu.
2.   Fügen Sie die Kundin "Granger, Hermine" hinzu.
3.   Fügen Sie den Kunden "Weasley, Ron" hinzu.
3.   Fügen Sie die Kunden "Weasley, George" und "Weasley, Fred" hinzu. (Google: "Python list append multiple")

Geben Sie die Liste aus und überprüfen Sie die Ausgabe.

5.   Sortieren Sie die Liste. Überprüfen Sie, ob die Liste korrekt alphabetisch sortiert wurde.
6.   Entfernen Sie Fred Weasley und überprüfen das korrekte Löschen.
7.   Welchen Index hat Harry Potter nun in der Liste?
8.   Sie planen eine Werbeaktion, bei der zunächst die beiden ersten Kunden in der Liste kontaktiert werden sollen. Geben Sie die Namen der Kunden aus.
9.   Welcher Kunde wird zuletzt kontaktiert, wenn man alphabetisch durch die Liste geht? Geben Sie den Namen aus.
10.  Sie schließen Ihren Laden und benötigen die Liste nicht mehr. Löschen Sie diese.

In [ ]:
#1-4

In [ ]:
#5

In [ ]:
#6

In [ ]:
#7

In [ ]:
#8

In [ ]:
#9

In [ ]:
#10

### Aufgabe 4.2.4.

Betrachten Sie folgende Transaktionen:

Sender | Empfänger | Betrag | Währung
--|--|--|--
Alice | Bob | 100.00 | EUR
Hermine | Harry | 33.32 | KNT
Alice | Ron | 9.99 | USD
Fred | Bob | 18.36 | EUR

Die einzelnen Transaktionen sind als Tupel zu repräsentieren. Die gesamte Historie als Liste. 

1.   Erstellen Sie eine Liste $tx$ von Transaktions-Tupeln in der oben genannten Reihenfolge.
2.   Harry überweist Bob 50.00 USD. Fügen Sie die Transaktion hinzu.
3.   Das Konto von Harry war nicht gedeckt und die Transaktion wird daher wieder gelöscht.

In [ ]:
#1

In [ ]:
#2

In [ ]:
#3